body{
    background-color: pink;
    color:  #FFF0F5;
}
#container{
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 30px;
    background-color:  #ff69b4;
    box-shadow:
    inset 6px 6px 12px rgba(153, 0, 71, 0.4),
    inset 6px 6px 12px rgba(153, 0, 71, 0.4); 
}


#form, .heading{
    margin: auto;
    text-align: center;
}



#heading{
    display: flex;
    font-size: large;
    font-weight: 800;
}

.heading{
    width: 50%;
    border-radius: 20px;
    border: 1px solid #e60026;
}

input{
    padding: 12px;
    margin: 4px 0;
    border-radius: 12px;
    border: 1px solid pink;
    background-color:  #FFDDEE;
    outline: pink;
}
button{
    padding: 12px;
    width: 30%;
    border: none;
    background-color: #ff1493;
    color: white;
    border-radius: 12px;
}
#final{
    font-weight: 900;
    font-size: x-large;
}

@media(max-width: 780px){
    #container{
        padding: 40px;
        width: 200px;
        place-items: center;
    }

    button{
        width: 200px;
        margin: 4px 0;
    }

    input{
        margin: 0;
    }
}